
body {
background-color: #becadaff;
}

.meu-nome, .descricao {
font-family:'Alkatra', cursive;
}

strong {
color: blue;
}

.html {
font-size: 22px;
}

.css {
font-size: 20px;
}

.javascript {
font-size: 18px;
}

#minha-foto {
    float: left;
    height: 400px;
}

.descricao {

}

.image-container {
    height: 400px;
}

.meu-nome {
    text-align: center;
}